@page
@model TwitchBot.Pages.Config.CodeModel
@{
    ViewData["Title"] = "Configurations - Auth Tokens";
}
@{
    if (Model.CodeCaptured)
    {
        <div class="alert alert-success" role="alert">
            Code captured successfully -- Auth Tokens Saved.
        </div>
    }

    if (Model.Errors.Any())
    {
        <div class="alert alert-danger" role="alert">
            Errors occured:
            @{
                foreach (var item in Model.Errors)
                {
                    <br />
                    @item
                }
            }
        </div>
    }

    if (Model.ResourceErrors.Any())
    {
        <div class="alert alert-danger" role="alert">
            There are errors with required resources:
            @{
                foreach (var item in Model.ResourceErrors)
                {
                    <br />
                    @item
                }
            }
        </div>
    }

}
<h1>Configurations - Auth Tokens</h1>
<hr />
<p>The bot service requires <a href="https://dev.twitch.tv/docs/authentication/#user-access-tokens">User Access Token</a> from Twitch to perform its functionalities.</p>
<p>Use this page to check the current status of Bot's Auth Tokens and generate new ones if needed.</p>
<hr />
<div class="row align-items-center">
    <div class="col-md-1">
        <label class="control-label">Status:</label>
    </div>
    @{
        if (Model.ResourceErrors.Any())
        {
            <div class="col-md-3">
                <span class="alert-warning">Errors with required resources:</span>
            </div>
            <div class="col-md-6">
            @{
                foreach (var item in Model.ResourceErrors)
                    {
                        <span class="alert-warning">@item</span>
                        <br />
                    }
            }
            </div>
        } else
        {
            if (Model.IsTokenValid)
            {
                <div class="col-md-10">
                    <span class="alert-success">Valid Auth Tokens</span>
                </div>
            }
            else
            {
                <div class="col-md-2">
                    <span class="alert-warning">Invalid Auth Tokens</span>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary" href=@Model.CodeLink>
                        Generate New Tokens
                    </a>
                </div>
            }
        }
    }
</div>