@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web UI is designed to configure the Bot Service. Use the navigation bar on top to access different configurations.</p>
    <p>Refer to the <a href="https://github.com/alibahaloo/TwitchBot#readme">README</a> file to a quick description of the app, bot service and the available configurations.</p>
</div>
